@import "./variables.scss";

.wrap {
	margin-bottom: 2rem;
	border-radius: 9px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
	@include sm {
		padding: 0.5rem 10%;
		width: 80%;
	}
	@include lg {
		padding: 0.5rem 5%;
		width: 65%;
	}
	.page_name {
		border-bottom: solid 1px black;
		color: black;
	}
}
div {
	h1 {
		color: $deep-blue;
		border-bottom: dashed 2px $deep-blue;
		font-weight: 300;
		margin-top: 1rem;
		@include lg {
			font-size: 2rem;
		}
		a {
			&:hover {
				text-decoration: none;
				color: orange !important;
			}
			&:visited {
				text-decoration: none;
				color: $deep-blue;
			}
			&:link {
				text-decoration: none;
				color: $deep-blue;
			}
			&:active {
				text-decoration: none;
				color: $deep-blue;
			}
		}
	}

	h2 {
		font-weight: 400;
		border-left: solid 6px $deep-blue;
		padding-left: 8px;
		border-bottom: solid 1.5px $gray;
	}

	p {
		color: $text-color;
		text-wrap: break-word;
	}
}
