// Body
$body-bg: #f6f6f6;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$gray: #f6f6f6;
$light-blue: #f0f8ff;
$deep-blue: #5bbee5;
